body{
  background-color: black;
}
h1{
  text-align: center;
  color: white;
}
section{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 300px));
  gap: 25px 30px;
  justify-content: center;
}